.docs-example-viewer-body {
  justify-content: flex-start;
  padding: 10px;
}

.card-deck-container {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  -moz-box-direction: normal;

  flex: 1 1 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  -moz-box-flex: 1;
  width: 100%;
  position: relative;
  margin: 10px;
  justify-content: space-between;
}

.card-item {
  padding: 5px;
}
