.spacer {
  flex-grow: 1;
}

a {
  color: #ffffff;
}

.fa-github {
  font-size: 16px;
}

.brand-title {
  button {
    font-size: 18px;
  }
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.swagger-icon {
  height: 22px;
  width: 22px;
}
