$color-white: #ffffff;

.spacer {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: $color-white;
}

.github-link {
  font-size: 16px;
}

.fa-github {
  font-size: 20px;
}

mat-toolbar-row {
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  button {
    font-size: 18px;
  }
}
