<form>
  <input
    (keydown.enter)="searchStore()"
    class="searchbox"
    type="search"
    aria-label="search"
    placeholder="Search books or authors"
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    (search)="cancelSearch()"
    />
    <mat-autocomplete (optionSelected)="searchStore()" #auto="matAutocomplete">
      @for (book of filteredBooks | async; track book) {
        <mat-option [value]="book.title">
          {{ book.title }}
        </mat-option>
      }
    </mat-autocomplete>
  </form>
