.searchbox {
  border: none;
  border-radius: 2px;
  background-color: #fafafa;
  padding: 5px 10px;
  height: 50%;
  width: 400px;
}

input[type="search"]:focus {
  outline: none;
}

:host {
  min-width: 30%;
}
