<mat-card class="my-4">
  <mat-card-header class="custom-card-header mat-elevation-z2">
    <mat-card-title class="mat-h1">Check Out </mat-card-title>
  </mat-card-header>
  <mat-card-content class="p-2">
    <div class="row">
      <div class="col-md-6">
        <mat-card-content>
          <mat-card-title> Shipping address </mat-card-title>
          <form [formGroup]="checkOutForm" (ngSubmit)="placeOrder()">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Name"
                formControlName="name"
                required
              />
              <mat-error
                *ngIf="
                  checkoutFormControl.name.touched &&
                  checkoutFormControl.name.invalid
                "
                >Name is required</mat-error
              >
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Address Line 1</mat-label>
              <input
                matInput
                placeholder="Address Line 1"
                formControlName="addressLine1"
                required
              />
              <mat-error
                *ngIf="
                  checkoutFormControl.addressLine1.touched &&
                  checkoutFormControl.addressLine1.invalid
                "
                >Address is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Address Line 2</mat-label>
              <input
                matInput
                placeholder="Address Line 2"
                formControlName="addressLine2"
                required
              />
              <mat-error
                *ngIf="
                  checkoutFormControl.addressLine2.touched &&
                  checkoutFormControl.addressLine2.invalid
                "
                >Address is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Pincode</mat-label>
              <input
                matInput
                placeholder="Pincode"
                formControlName="pincode"
                required
              />
              <mat-error
                *ngIf="
                  checkoutFormControl.pincode.touched &&
                  checkoutFormControl.pincode.hasError('required')
                "
                >Pincode is required
              </mat-error>
              <mat-error
                *ngIf="
                  checkoutFormControl.pincode.touched &&
                  checkoutFormControl.pincode.hasError('pattern')
                "
              >
                Pincode must have 6 digits only and cannot start with 0
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>State</mat-label>
              <input
                matInput
                placeholder="State"
                formControlName="state"
                required
              />
              <mat-error
                *ngIf="
                  checkoutFormControl.state.touched &&
                  checkoutFormControl.state.invalid
                "
                >State is required</mat-error
              >
            </mat-form-field>
            <mat-card-actions align="end" class="p-0">
              <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="checkOutForm.disabled"
              >
                Place Order
              </button>
              <button
                class="ms-2"
                mat-raised-button
                color="warn"
                [routerLink]="['/shopping-cart']"
              >
                Cancel
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </div>
      <div class="col-md-6">
        <ng-container *ngIf="showLoader; else cartItems">
          <div class="d-flex justify-content-center">
            <mat-spinner></mat-spinner>
          </div>
        </ng-container>
        <mat-card-content>
          <ng-template #cartItems>
            <ng-container
              *ngIf="checkOutItems.orderDetails.length > 0; else noData"
            >
              <mat-card-title> Order Summary </mat-card-title>
              <table class="table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of checkOutItems.orderDetails">
                    <td>
                      {{ item.book.title }}
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.book.price | currency : "INR" }}</td>
                    <td>
                      {{ item.book.price * item.quantity | currency : "INR" }}
                    </td>
                  </tr>
                </tbody>
                <tfoot class="table">
                  <tr>
                    <td></td>
                    <td></td>
                    <th>Grand Total</th>
                    <th>{{ totalPrice | currency : "INR" }}</th>
                  </tr>
                </tfoot>
              </table>
            </ng-container>
            <ng-template #noData>
              <mat-card-header class="d-flex justify-content-center">
                <mat-card-title>
                  There are no items in your cart.
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="d-flex justify-content-center">
                <button
                  mat-raised-button
                  color="primary"
                  [routerLink]="['/']"
                  class="mt-2"
                >
                  Start shopping
                </button>
              </mat-card-content>
            </ng-template>
          </ng-template>
        </mat-card-content>
      </div>
    </div>
  </mat-card-content>
</mat-card>
