$color-row-border: #dee2e6;

.image-card {
    width: 200px;
    height: 260px;
    padding: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform .5s;
  }

  .preview-image {
    max-height: 300px;
    max-width: 300px;
  }

  td{
    border-top:0;
    border-bottom:1px solid $color-row-border;
    width: 50%;
  }

  .image-card:hover {
    transform: scale(1.5);
  }
