img {
  height: 350px;
  width: 250px;
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1.5);
}

td {
  border-top: 0;
  border-bottom: 1px solid #dee2e6;
  width: 30%;
  padding: 20px;
}

td:nth-child(2) {
  width: 70%;
}
