.docs-example-viewer-title-spacer {
    display: flex;
    justify-content: space-between;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 18%;
  }
  
  .table-container {
    width: 100%;
  }
  