/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 16px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-kerning: normal;
  background: #fafafa;
}

.container {
  padding-top: 60px;
}

// start: style the scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  border-radius: 8px;
}
// end: style the scrollbar

.custom-card-header {
  background: #ff4081;
  color: #fff;
}

a {
  text-decoration: none;
}
